@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* ***************************** --  Button Default -- ***************************** */
.button-primary {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-blue-500 text-white hover:bg-blue-500 focus:bg-blue-700;
}
.button-secondary {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-gray-600 text-white hover:bg-gray-500 focus:bg-gray-700;
}
.button-success {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-green-600 text-white hover:bg-green-500 focus:bg-green-700 bg-transparent;
}
.button-danger {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-red-500 text-white hover:bg-red-600 focus:bg-red-700 bg-transparent;
}
.button-warning {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-yellow-500 text-white hover:bg-yellow-600 focus:bg-yellow-700;
}
.button-info {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-blue-300 text-white hover:bg-blue-400 focus:bg-blue-500;
}
.button-white {
  @apply text-sm md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus:outline-none bg-white text-black px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600;
}
.button-dark {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-black text-white hover:bg-gray-600 focus:bg-blue-500;
}
.button-disabled {
  @apply disabled:opacity-50 cursor-default hover:bg-gray-300 bg-gray-300;
}
/* ***************************** -- Button Outline -- ***************************** */

.button-outline-primary {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-blue-500 hover:text-white hover:bg-blue-600 focus:bg-blue-700 border-blue-500;
}
.button-outline-secondary {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-gray-500 hover:text-white hover:bg-gray-600 focus:bg-gray-700 border-gray-500;
}
.button-outline-success {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-green-500 hover:text-white hover:bg-green-600 focus:bg-green-700 border-green-500;
}
.button-outline-danger {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-red-500 hover:text-white hover:bg-red-600 focus:bg-red-700 border-red-500;
}
.button-outline-warning {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-yellow-500 hover:text-white hover:bg-yellow-600 focus:bg-yellow-700 border-yellow-500;
}
.button-outline-info {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-blue-500 hover:text-white hover:bg-blue-600 focus:bg-blue-700 border-blue-500;
}
.button-outline-white {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-gray-100 hover:text-black hover:bg-gray-100 focus:bg-gray-300 hover:border-gray-200;
}
.button-outline-black {
  @apply select-none inline-block border border-transparent leading-tight px-4 py-2 rounded no-underline bg-transparent text-black hover:text-white hover:bg-black focus:bg-blue-700 border-black;
}
.button-circular {
  @apply select-none inline-flex border items-center justify-center h-12 w-12 bg-blue-500 rounded-full text-white;
}
.button-parent {
  @apply flex items-center justify-center flex-shrink-0 h-auto relative focus:outline-none transform;
}
/* ***************************** -- ICON -- ***************************** */
.icon-primary {
  @apply inline-flex mx-1.5 w-6 h-6 text-indigo-400 cursor-pointer;
}
.icon-warning {
  @apply inline-flex mx-1.5 w-6 h-6 text-yellow-400 cursor-pointer;
}
.icon-danger {
  @apply inline-flex mx-1.5 w-6 h-6 text-red-400 cursor-pointer;
}
.icon-secondary {
  @apply inline-flex mx-1.5 w-6 h-6 text-gray-400 cursor-pointer;
}
.icon-success {
  @apply inline-flex mx-1.5 w-6 h-6 text-green-400 cursor-pointer;
}
.icon-white {
  @apply inline-flex mx-1.5 w-6 h-6 text-white cursor-pointer;
}
.icon-black {
  @apply inline-flex mx-1.5 w-6 h-6 text-black cursor-pointer;
}
/* ***************************** -- Text Area -- ***************************** */
.textarea-primary {
  @apply inline-block border border-transparent w-full px-4 py-2 rounded focus:outline-none;
}

/* ***************************** -- Rating -- ***************************** */
.rating-primary {
  @apply flex;
}

/* ***************************** -- Select -- ***************************** */
.select-primary {
  @apply block pl-3 px-3.5 py-2.5 text-base border border-gray-300 focus:outline-none sm:text-sm cursor-pointer;
}
/* ***************************** -- Price -- ***************************** */
.price-regular {
  @apply text-black font-medium;
}
.price-special {
  @apply text-black font-medium text-xs line-through text-red-400;
}
.price-slot {
  @apply px-2 py-2 bg-green-400 text-white font-medium;
}
.price-sales {
  @apply flex justify-between w-24;
}
/* ***************************** -- Overlay -- ***************************** */
.overlay-default {
  @apply fixed inset-0 bg-gray-400;
}

/* ***************************** -- Input -- ***************************** */
.input-primary {
  @apply px-3 py-2 w-full focus:outline-none max-w-xs border border-gray-300;
}
.input-error {
  @apply px-3 py-2 w-full text-red-500 placeholder-red-500 border border-red-500 focus:text-red-700 focus:outline-none;
}
.input-password {
  @apply flex justify-center items-center max-w-xs border;
}
.input-telephone {
  @apply flex border border-transparent;
}
.input-search {
  @apply rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none
}
/* ***************************** -- Search -- ***************************** */
.search-primary {
  @apply bg-white flex items-center rounded-full shadow-xl
}
.search-animation {
  @apply block bg-gray-100 border-gray-400 border rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 focus:placeholder-gray-500 sm:text-sm
}

/* ***************************** -- Link -- ***************************** */
.link-primary {
  @apply underline font-normal;
}
.link-icon {
  @apply p-3 bg-black text-white;
}
.link-icon-rounded {
  @apply p-3 bg-black text-white rounded-lg;
}
/* ***************************** -- Loading -- ***************************** */
.loader-spin {
  @apply animate-spin -ml-1 mr-3 h-9 w-9 text-black;
}
.loader-ping {
  @apply animate-ping h-14 w-14 text-xl uppercase tracking-wider;
}
/* ***************************** -- Circle Icon -- ***************************** */
.circle-icon-primary {
  @apply h-10 w-10 flex justify-center items-center bg-indigo-500 float-left rounded-full cursor-pointer;
}
.circle-icon-secondary {
  @apply h-10 w-10 flex justify-center items-center bg-gray-600 float-left rounded-full cursor-pointer;
}
.circle-icon-success {
  @apply h-10 w-10 flex justify-center items-center bg-green-600 float-left rounded-full cursor-pointer;
}
.circle-icon-danger {
  @apply h-10 w-10 flex justify-center items-center bg-red-600 float-left rounded-full cursor-pointer;
}
.circle-icon-warning {
  @apply h-10 w-10 flex justify-center items-center bg-yellow-600 float-left rounded-full cursor-pointer;
}
.circle-icon-white {
  @apply h-10 w-10 flex justify-center items-center bg-white float-left rounded-full cursor-pointer;
}
.circle-icon-black {
  @apply h-10 w-10 flex justify-center items-center bg-black float-left rounded-full cursor-pointer;
}
.circle-icon-disabled {
  @apply p-0.5 bg-gray-300 disabled:opacity-50 float-left rounded-full cursor-default;
}
/* ***************************** -- Divider -- ***************************** */
.divider-primary {
  @apply w-full border-t border-gray-300 mt-2;
}

.color-primary {
  @apply w-10 h-10 bg-gray-600 flex justify-center items-center duration-500 ease-linear cursor-pointer;
}
.color-rounded {
  @apply w-10 h-10 bg-gray-600 flex justify-center items-center duration-500 ease-linear rounded-full cursor-pointer;
}



/* ***************************** -- Text -- ***************************** */
.text-title {
  @apply text-xl font-semibold text-gray-900 truncate;
}
.text-header {
  @apply text-black text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold uppercase tracking-tight;
}
.text-description {
  @apply block text-gray-400 text-xs md:text-sm leading-6 md:leading-7 xl:px-10;
}
.text-default {
  @apply text-base text-gray-500 block md:text-sm leading-6 md:leading-7 xl:px-10;
}
.text-link {
  @apply inline-flex items-center text-sm xl:text-base text-black px-3 xl:px-4 py-2 font-normal relative group-hover:text-black;
}
.text-link-hover {
  @apply flex items-center justify-between py-2 pl-5 xl:pl-7 pr-3 xl:pr-3.5 hover:text-black hover:bg-gray-300;
}
.image-default {
  @apply bg-gray-300 object-cover rounded-l-md;
}
.text-list {
  @apply ml-3 text-base text-gray-500;
}
.text-grid {
  @apply bg-indigo-700 py-4 px-4 flex items-center space-x-3 text-base text-white
}
.label-primary {
  @apply block text-sm font-medium text-gray-700;
}

/* Alert css */
.alert {
  @apply flex px-4 py-3 rounded relative;
}
.alert > .icon {
  @apply h-6 w-6 mr-2 pt-1;
}

.alert > .title-wrapper {
  @apply w-2/3 break-words;
}
.alert > .title {
  @apply text-2xl font-bold flex;
}
.alert > .icon-wrapper {
  @apply absolute top-0 bottom-0 right-0 px-4 py-3;
}
.alert > .icon-wrapper > .icon-close {
  @apply fill-current h-6 w-6 text-red-800;
}
.alert > .message {
  @apply flex;
}
.alert-primary {
  @apply alert border-green-300 text-green-600 bg-green-200 border;
}
.alert-success {
  @apply alert bg-blue-200 border border-blue-400 text-blue-600;
}
.alert-danger {
  @apply alert bg-red-200 border border-red-600 text-red-800;
}
.alert-warning {
  @apply alert bg-yellow-400 border border-yellow-600 text-yellow-800;
}

.hide {
  @apply hidden;
}
.badge {
  @apply inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none rounded-full  text-white;
}

/* Arrow css */
.arrow {
  @apply p-4 w-max  focus:outline-none disabled:disabled-arrow  bg-gray-200 hover:bg-black hover:text-white;
}
.arrow-rounded {
  @apply arrow rounded-full disabled:disabled-arrow
}
/* breadcrumb css */
.breadcrumb {
  @apply text-blue-500 hover:underline cursor-pointer inline;
}
.breadcrumb::after {
  content: "/";
  @apply mx-2;
}
.breadcrumb.active {
  @apply text-gray-800 cursor-text hover:no-underline inline;
}
.active.breadcrumb::after {
  content: " ";
}
.active.breadcrumb > a {
  @apply pointer-events-none;
}
/* bullet css */
.bullet-primary,
.bullet-secondary {
  @apply flex;
}
.bullet-primary > li {
  @apply h-auto p-2 cursor-pointer  bg-black block mr-1  rounded-none;
}
.bullet-secondary > li {
  @apply rounded-full h-auto p-2 cursor-pointer  bg-black block mr-1;
}
.bullet-secondary > li.active {
  @apply rounded-none bg-green-500;
}
.bullet-primary > li.active {
  @apply bg-green-500  rounded-full;
}
/* select css */
.select {
  @apply flex bg-white rounded  border w-full leading-tight;
}
.select > select {
  @apply bg-transparent w-full appearance-none min-h-full py-4 pl-4;
}
.select-disabled {
  @apply flex rounded  border w-full leading-tight bg-gray-300;
}
.select-disabled > select {
  @apply bg-transparent w-full appearance-none min-h-full py-4 pl-4;
}
.color {
  @apply p-3 w-1;
}
/* toggle css */
.toggle {
  @apply flex items-center justify-center w-full mb-12;
}
.toggle.disabled-toggle {
  @apply opacity-30;
}
.toggle > .toggle-label {
  @apply flex items-center cursor-pointer;
}
.toggle > .toggle-label > .input-wrapper {
  @apply relative;
}
.toggle > .toggle-label > .input-wrapper > .toggle-div {
  @apply block bg-gray-600 rounded-full w-14 h-8;
}
.toggle > .toggle-label > .input-wrapper > .toggle-dot {
  @apply absolute rounded-full left-1 top-1 bg-white w-6 h-6 transition;
}
.toggle > .toggle-label > .input-wrapper > .toggle-divb {
  @apply block bg-gray-600  w-14 h-8;
}
.toggle > .toggle-label > .input-wrapper > .toggle-dotb {
  @apply absolute  left-1 top-1 bg-white w-6 h-6 transition;
}
.toggle > .toggle-label > .toggle-message {
  @apply ml-3 text-gray-700 font-medium;
}

.toggle-input:checked ~ .toggle-dot {
  @apply bg-green-500 transform translate-x-full;
}
.toggle-input:checked ~ .toggle-dotb {
  @apply bg-green-500 transform translate-x-full;
}
/* heading css */
.heading1 {
  @apply text-8xl;
}
.heading2 {
  @apply text-6xl;
}
.heading3 {
  @apply text-4xl;
}
.heading4 {
  @apply text-2xl;
}
.heading5 {
  @apply text-xl;
}
.heading6 {
  @apply text-lg;
}
.chevron {
  @apply h-6 w-6;
}
.quantity {
  @apply flex  h-10  rounded-lg relative bg-transparent mt-1 w-32;
}
.quantity > button {
  @apply focus:outline-none bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20  cursor-pointer outline-none disabled:disabled-btn;
}

.quantity > input {
  @apply outline-none focus:outline-none text-center w-full bg-gray-200 font-semibold flex items-center text-gray-700  disabled:opacity-30;
}

.quantity-secondary {
  @apply flex w-36 justify-around;
}
.quantity-secondary > button {
  @apply rounded-full disabled:disabled-btn focus:outline-none bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20  cursor-pointer outline-none;
}
.quantity-secondary > input {
  @apply focus:outline-none rounded-full bg-gray-200 text-center disabled:opacity-30;
}

.checkbox,
.radio {
  @apply flex items-center;
}
.checkbox > .label {
  @apply pl-1;
}
.radio > .label {
  @apply pl-1;
}
.image {
  @apply relative transition-all duration-500 ease-in-out;
}
.image-zoom {
  @apply object-cover
}
.badge {
  @apply inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none rounded-full  text-white
}
.badge-primary {
  @apply badge  bg-blue-400;
}
.badge-secondary {
  @apply badge bg-gray-500;
}
.badge-success {
  @apply badge bg-green-400;
}
.badge-danger {
  @apply badge bg-red-600;
}
.badge-warning {
  @apply badge bg-yellow-500;
}
.image > img {
  @apply object-cover w-full h-full;
}
.overlay {
  @apply bg-gray-400   hover:flex opacity-70 hidden justify-center items-center absolute top-0 left-0 right-0 bottom-0;
}
.overlay > p {
  @apply text-black text-center w-5/6 break-words;
}
.image:hover > .overlay {
  @apply bg-gray-400 opacity-70 flex justify-center items-center absolute top-0 left-0 right-0 bottom-0;
}
.image-zoom:hover {
  @apply transform scale-110;
}
@variants disabled {
  .disabled-arrow {
    @apply opacity-30 hover:bg-gray-200 hover:text-black;
  }
  .disabled-btn {
    @apply focus:outline-none hover:bg-gray-200 hover:text-gray-600  opacity-30;
  }
}
.input-password > .icon-secondary {
  @apply inline-flex m-1.5 w-6 h-6 text-gray-400 cursor-pointer border-none bg-transparent;
}
.text-hover {
  @apply hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

